{% extends "base.html" %}
{% block title %}Tienda de Videojuegos{% endblock %}
{% block contenido %}

<div class="container">
<div class="col-md-4"></div>
<div class="col-md-4">
      <form class="form-signin" method="post">
      {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger">
          {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
      {% endfor %}
        <h2 class="form-signin-heading">Login</h2>
        {{ form.csrf_token }}
        {{form.username.label()}}
        {{form.username(class="form-control")}}
        
        {{form.password.label()}}
        {{form.password(class="form-control")}}
        {{form.submit(class="btn btn-lg btn-primary btn-block")}}
      </form>
</div>
<div class="col-md-4"></div>
    </div> <!-- /container -->
{% endblock %}