{% extends "base.html" %}
{% block title %}Tienda de Videojuegos{% endblock %}
{% block contenido %}
<div class="container">
  <div class="row">
    <h3>Nueva Categorias</h3>  
    {% for field, errors in form.errors.items() %}
      <div class="alert alert-danger">
        {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
    {% endfor %}
      <form action={{url_for("categorias_new")}} method="post">
        <div class="form-group">
          {{ form.csrf_token }}
          {{form.nombre.label() }}{{form.nombre()}}<br/><br/>
        </div>
          {{form.submit()}}
    </form>
  </div>
</div>
 	
  
{% endblock %}
