{% extends "base.html" %}
{% block title %}Prueba{% endblock %}
{% block contenido %}
	    <h2>ejercicios con formularios</h2>
	    <ul>
	    	<li><a href="{{url_for('formulario')}}">Formulario completo</a></li>
	    	<li><a href="{{url_for('calculadora_post')}}">Calculadora con POST</a></li>
	    	<li><a href="{{url_for('calculadora_get')}}">Calculadora con GET</a></li>
	    	
	    	<li><a href="{{url_for('calculadora_var',operador="+",num1=6,num2=8)}}">Suma con parametros variables: /calculadora/+/6/8</a></li>
	    </ul>
  
{% endblock %}
