{% extends "base.html" %}
{% block title %}Tienda de Videojuegos{% endblock %}
{% block contenido %}
    <h3>Categorias...</h3>  
    <div class="panel panel-default">
      <ul>
      {% for cat in categorias %}
      <li><a href="{{url_for("inicio",id=cat.id)}}">{{cat.nombre}}</a></li>
      {% endfor %}
      <li><a href="{{url_for('inicio')}}">Todos</a></li>
    </ul>
    </div>

	    <h3>Nuestros videojuegos... ({{categoria.nombre}})</h3>
	    <div class="panel panel-default">
  		<!-- Default panel contents -->
  			
  			<table class="table table-bordered">
          <tr>
            <th></th>
            <th>Nombre</th>
          </tr>
  	    		{% for art in articulos %}

  	    			<tr>
                {% if art.image %}
                  <td><img src="{{url_for('static',filename='upload/')}}{{art.image}}"/>
                {% else %}
                  <td><img src="{{url_for('static',filename='upload/not-found.png')}}"/>
                {% endif %}
  	    				<td>{{art.nombre}}</td>
  	    			</tr>
  	    		{% endfor %}
  	    	</table>
  	    
  	</div>

 	
  
{% endblock %}
